@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Roboto:wght@500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Bebas Neue', cursive;
    font-size: 17px;
    /* font-family: 'Montserrat', sans-serif; */
    overflow-x:hidden;
}
.pageContainer{width: 1377px;margin: 0 auto;}
header{background-color: #FFBB3F;color: #3d2514;padding: 1.8rem 3rem 6rem;min-height: 750px;}
header nav{}
header nav .logoAndPhone{display: flex;justify-content: space-between;}
header nav .logoAndPhone .logo{font-size: 2rem;}
header nav .logoAndPhone .logo i{font-size: 3rem;}
header nav .logoAndPhone .logo span{margin-left: 15px; font-size: 36px;font-weight: 500;}
header nav .phone{
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 300px;
    margin-bottom: 10px;
}
header nav .phone span{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 0.9rem;
    margin-left: 10px;
}
header nav .toolbarLinks{
    list-style-type: none;
    display: flex;
    font-size: 25px;
    justify-content: flex-end;
    font-weight: 400;
    font-family: 'Bebas Neue',sans-serif;
    margin-top: 10px;
   
}
header nav .toolbarLinks li{ letter-spacing: 4px; margin-left: 50px;}
header nav .toolbarLinks li a{text-decoration: none;color: #3d2514;}

/**********implement headet branText**********/
header .headerMain{display: flex;justify-content:space-between;margin-top: 3rem;}
header .headerMain .brandText{flex-grow: 11;margin-top: 6rem;}
header .headerMain .brandText .subTitle1{
    /* font-size: 1.3rem; */
    font-size: 1.5vw;
    padding: 10px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%233D2514FF' stroke-width='5' stroke-dasharray='3%2c 10' stroke-dashoffset='3' stroke-linecap='square'/%3e%3c/svg%3e");    width: fit-content;
    padding: 10px 15px;
    font-weight: 300;
}
header .headerMain .brandText .title{
    /* font-size: 6rem; */
    font-size: 6.5vw;
    font-family: 'Alfa Slab One', cursive;
    color: rgba(61, 37, 20, 255);
    text-shadow: 4px 5px #fee7ba;
    line-height:80px;
    margin-top: 2rem;
    letter-spacing: 0.3rem;
}
header .headerMain .brandText .title .subTitle2{
    /* font-size: 4rem; */
    font-size: 4vw;
}


/*************impelement header burferMeal**********/
header .headerMain .burgerMeal{position: relative;flex-basis: 60%;
    /* min-height: 500px; */
    flex-shrink: 0;}
header .headerMain .burgerMeal img{}
header .headerMain .burgerMeal img:nth-child(1){
    position: absolute;
    /* top: 60px; */
    /* right: 415px; */

    z-index: 2;
    width: 35.6%;
    bottom: -13%;
    right: 48.6%;
}
header .headerMain .burgerMeal img:nth-child(2){
    z-index: 3;
    position: absolute;
    /* top: 124px; */
    /* right: 159px; */
    bottom: -40%;
    right: 18.6%;
    width: 49.8%;
    
    /* filter: drop-shadow( 0px -180px 80px rgba(255, 255, 255, 0.541)); */
    /* filter: drop-shadow( 0px 3px 9px rgba(0,0,0,0.75)); */
}
header .headerMain .burgerMeal img:nth-child(3){
    position: absolute;
    filter: contrast(200%);
    z-index: 1;
    /* right: 85px; */
    width: 20.1%;
    bottom: -35%;
    right: 9.7%;

    /* filter: drop-shadow( 0px 3px 9px rgba(0,0,0,0.75)); */
}
header .shadow1{
    width:18%;
    height: 0px;
    background-color: rgba(255, 255, 255, 0.158);
    position: absolute;
    /* right: 308px; */
    right: 36%;
    /* top: 132px; */
    bottom: 55%;
    border-radius: 50%;
    box-shadow: 0px -60px 145px 75px rgb(255 255 255 / 78%);
    z-index: 0;
}
header .shadow2{
    /* width: 280px; */
    width: 32.7%;
    height: 15px;
    background-color: rgb(0 0 0 / 80%);
    position: absolute;
    /* right: 235px; */
    right: 27.5%;
    /* bottom: -20px; */
    bottom: -49%;
    border-radius: 50%;
    filter: blur(11px);
    z-index: 0;
}
header .shadow3{
    /* width: 106px; */
    width: 12.4%;
    height: 10px;
    background-color: rgb(0 0 0 / 80%);
    position: absolute;
    /* right: 96px; */
    right: 11.2%;
    /* bottom: -10px; */
    bottom: -44%;
    border-radius: 45%;
    filter: blur(9px);
    z-index: 0;
}
header .headerMain .burgerMeal .pricing{
    width: 180px;
    height: 180px;
    background-color: #bf2222;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
    position: absolute;
    bottom:-48%;
    /* right: 545px; */
    right: 63% ;
    /* width: 21.1%;
    height:52%; */
}
header .headerMain .burgerMeal .pricing>div:first-child{
    border-radius: 50%;
    width: 85%;
    height: 85%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='white' stroke-width='4' stroke-dasharray='4%2c 12' stroke-dashoffset='1' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 100px;}
header .headerMain .burgerMeal .pricing>div:first-child span:first-child{font-size: 4rem;word-spacing: -7px;}
header .headerMain .burgerMeal .pricing>div:first-child span:first-child subb{font-size: 2rem;}
header .headerMain .burgerMeal .pricing>div:first-child span:nth-child(2){letter-spacing: 4px; font-size: 2rem;margin-top: -12px;}


/**********implement todayOffer section*************/
.todayOffer{margin-top: 4rem;}
.todayOffer .offerRow{display: flex;flex-wrap: wrap; justify-content:center;}
.todayOffer .offerColumn:first-child { margin-right: 2.5rem;}
.todayOffer .offerColumn:nth-child(2) .imgCont:first-child{margin-bottom: 2.2rem;}
.todayOffer .offerColumn .imgCont {
    overflow: hidden;
    padding: 0;
    border-radius: 8px;
    position: relative;
    color: white;
}
.todayOffer .offerColumn .imgCont >div{
    position: absolute;
    top: 30px;
    left: 30px;
    font-family: 'Bebas Neue',sans-serif;
}
.todayOffer .offerColumn .imgCont img{transition-duration: 0.5s;display: block;}
.todayOffer .offerColumn .imgCont  img:hover {transform: scale(1.1);z-index: 0;}
.todayOffer .offerColumn .imgCont >div h4{font-size: 25px;font-weight: 400;}
.todayOffer .offerColumn .imgCont >div h3{font-size: 40px;font-weight: 400;line-height: 36px;}

/**********implement menu section**************/
.menu{text-align: center;margin-top: 5.5rem;color: #3d2514;}
.menu .menuHeader{
}
.menu .menuHeader h5{
    display: inline-block;
    background-color: #FFC045;
    width:fit-content;
    font-size: 1.6rem;
    font-weight: 500;
    padding: 15px 20px 8px;
    margin-bottom: 3.5rem;
}
.menu .menuHeader h2{
    font-size: 3.1rem;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Alfa Slab One',sans-serif;
    margin-bottom: 2rem;
    line-height: 28px;
}
.menu .menuHeader p{font-family: Montserrat,sans-serif;line-height:1.7;}
.menu .menuElements{
    margin-top: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
.menu .menuElements>div>div{position: relative;margin-bottom: 3rem;}
.menu .menuElements>div>div::after{
    content: " ";
    position: absolute;
    bottom: -25px;
    left: 65px;
    width: 65%;
    height: 30px;
    background-color: rgba(39, 39, 39, 0.589);
    filter: blur(8px);
    border-radius: 50%;
    transform: rotateX(65deg);
}
.menu .menuElements>div>div.burger1::after,.menu .menuElements>div>div.burger3::after{left: 85px;}
.menu .menuElements>div>h3{font-size: 2.2rem;font-weight: 500;margin-bottom: .6rem;}
.menu .menuElements>div>p{
    font-family: Montserrat,sans-serif;
    padding: 0 4rem;
    margin-bottom: 1.7rem;
}
.menu .menuElements>div>button{
    border: none;
    background-color: #bf2222;
    color: #ffffff;
    padding: .9rem 1.7rem;
    font-family: 'Alfa Slab One',sans-serif;
    font-size: 1.0001rem;
    text-transform: uppercase;
}

/*********implement events section**********/
.events{
    display: flex;
    margin:6rem auto;
    width: 85%;
    padding:2rem;
    box-shadow: 12px 15px 22px -3px rgba(0,0,0,0.24);
}
.events .eventsHeader{padding: 2rem;}
.events .eventsHeader h5{
    font-size: 1.7rem;
    color: rgba(61, 61, 61, 255);
    font-weight: 500;
}
.events .eventsHeader h2{
    font-family: 'Alfa Slab One',sans-serif;
    font-size: 2.2rem;
    text-transform: uppercase;
    color: rgba(61, 37, 20, 255);
    margin: -8px 0 1rem 0;
    font-weight: 500;
}
.events .eventsHeader p{
    font-family: Montserrat,sans-serif;
    color: rgba(61, 61, 61, 255);
    line-height: 1.5;
    font-size: 1.2rem;
}

/**********implement booking section**********/
.booking{display: flex;justify-content: space-between;min-height: 620px;}
.booking .left{
    position: relative;
    flex-basis: 15%;}
.booking .left>img{display: block;}
.booking .left>img:first-child{
    position: absolute;
    top: -50px;
    left: -20px;
    filter:drop-shadow( 1px 0px 50px rgba(0,0,0,0.42));
}
.booking .left>img:nth-child(2){
    position: absolute;
    bottom: 170px;
    right: 0;
    filter:drop-shadow( 1px 0px 50px rgba(0,0,0,0.42));
}
.booking  .middle{padding: 2rem;flex-basis: 64%;}
.booking  .middle .middleText{color: #3d2514;text-align: center;}
.booking  .middle .middleText h5{font-weight: 500;font-size: 29px;letter-spacing: 2px;}
.booking  .middle .middleText h2{font-weight: 500;font-size: 3.2rem;   font-family: 'Alfa Slab One',sans-serif;margin-bottom: 3rem;}
.booking  .middle form{text-align: end;}
.booking  .middle form input{
    width: 45%;
    padding:1.3rem;
    margin:0.8rem ;
    font-weight:500;
    border: 1px solid rgb(173, 173, 173);
    border-radius: 5px;
    font-size: 17px;
    font-family: 'Bebas Neue', cursive;

}
.booking  .middle form input[type="button"]{
    background-color: #bf2222;
    font-family: 'Alfa Slab One',sans-serif;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 255);
    letter-spacing: 1px;
}
/* .booking  .middle form input::-webkit-input-placeholder{color: #3d2514;}
.booking  .middle form input::-moz-placeholder{color: #3d2514;}
.booking  .middle form input:-ms-input-placeholder {color: #3d2514;}
.booking  .middle form input:-moz-placeholder{color: #3d2514;} */
.booking .right{
    position: relative;
    flex-basis: 18%;
}
.booking .right>img{
    position: absolute;
    bottom:0px;
    right: -140px;
    filter:drop-shadow( 1px 0px 50px rgba(0,0,0,0.42));
}

/*********implement footer section***********/
footer{
    width: 90%;
    margin: 2rem auto;
    height: 500px;
    background-image: url('/images/footerImage.png');
    padding: 4rem 0rem 1rem 3rem;
    color: white;
    background-size: cover;
}
footer .logo{font-size: 2rem;display: flex;align-items: center;margin-bottom: 3rem;}
footer .logo img{}
footer .logo span{margin-left: 25px; font-size:3.5rem;font-weight: 500;letter-spacing: 1px;margin-top: 13px;}
footer .footerText{display: flex;justify-content: space-between;}
footer .footerText p{flex-basis: 45%;font-family: Montserrat,sans-serif;line-height:1.7;color: rgb(202, 202, 202);}
footer .footerText .info{padding:2.2rem 9rem 1rem 0rem;font-size: 1.2rem;}
footer .footerText .info>div{display: flex;align-items: center;margin-bottom: 20px;}
footer .footerText .info span{margin-left: 30px; font-weight: 500;}
footer .footerBottom{display: flex; margin-top: 6rem;justify-content: space-between;}
footer .footerBottom .footerLinks{padding-right: 2rem;font-family: Montserrat,sans-serif;}
footer .footerBottom .footerLinks>img{padding: 3px;}

@media screen and (min-width:400px) and (max-width:1200px) {
    
header .headerMain .burgerMeal{position: relative;flex-basis: 60%;
}
header .headerMain .burgerMeal img{}
header .headerMain .burgerMeal img:nth-child(1){
    bottom:16%;
    right: ;
}
header .headerMain .burgerMeal img:nth-child(2){
    bottom: -10%;
    right: ;
}
header .headerMain .burgerMeal img:nth-child(3){
    bottom: -8%;
    right: ;
}
header .shadow1{
    bottom: 48%;
    right: ;
}
header .shadow2{
    bottom:-7%;
    right: ;
}
header .shadow3{
    bottom:-1%;
    right: ;
}
header .headerMain .burgerMeal .pricing{
    width: 145px;
    height: 145px;
    bottom: -15%;
}
header .headerMain .brandText .subTitle1 {font-size: 1.7vw;}
}



